# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
/.idea/

# macOS
*.DS_Store
.DS_Store


/target/
src/main/resources/static_html/static_files/bili_mac.dmg
/temp/*

src/main/resources/client_cache/*
src/main/resources/server_cache/*
src/main/resources/test_cache/*